!!!
%html{lang: 'en'}
  %head
    %title MotiFit UCD Prototype
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: 'Prototype website for UCD MotiFit app.'}
    %meta{name: 'author', content: 'Zoltan Debre'}
    = stylesheet_link_tag "bootstrap.min"
    = stylesheet_link_tag "bootstrap-responsive.min"
    = stylesheet_link_tag 'zoltan'
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'jquery_ujs'
    = javascript_include_tag "bootstrap.min.js"
    = javascript_include_tag 'zoltan'
  %body
    .container-fluid
      = render 'layouts/header'
      = render 'layouts/content'
      = render 'layouts/footer'
